# ----- App -----
ENVIRONMENT=production # "development" ou "production"
API_URL=http://127.0.0.1:8000/

# ----- E-mail -----
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_app_gmail@gmail.com
SMTP_PASSWORD=your_google_app_passoword
SMTP_FROM=your_app_gmail@gmail.com
SMTP_ENABLED=true

# ----- WhatsApp -----
WHATSAPP_ENABLED=true
WHATSAPP_DB_PATH=./data/whatsapp_session.db
WHATSAPP_DEVICE_NAME=your_bot_name

# ----- Autenticação -----
SECRET_KEY=your_secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_MINUTES=43200
ARGON2_MEMORY_COST=65536
ARGON2_TIME_COST=3

# ----- Banco -----
DB_USER=user
DB_PASSWORD=password
DB_NAME=name
DB_HOST=localhost
DB_PORT=5432
DATABASE_URL=postgresql+asyncpg://edupbl:edupbl@localhost:5432/edupbl