nome,sobrenome,email,senha,role,avatar
Maria,Silva,maria.silva@escola.com,TempProf2024!,teacher,
João,Santos,joao.santos@escola.com,TempProf2024!,teacher,
Ana,Costa,ana.costa@escola.com,TempProf2024!,teacher,ana_costa.jpg
